* {
    font-family: 'Kaisei Tokumin', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f6ff;
}

nav li {
    display: inline-block;
}

nav ul {
    margin: 20px 20px 20px auto;
    text-align: right;
}
.button {
    padding: 10px 10px;
    text-align: center;
    background-color: rgba(0,0,0, 0.9);
    border-radius: 15px;
    color: #f4f4f6ff;
    box-shadow: 0px 15px black;
    border: 1px solid rgba(0,0,0, 0.9);
    min-width: 57px;
}

.button:hover {
    background-color: rgba(0,0,0, 0.9);
    box-shadow: 0px 5px black;
    position: relative;
    top: 10px;
}

.header {
    margin: 0 auto;
    text-align: center;
    padding: 130px 50px;
    background-color:#f4f4f6ff;
    color: black;
    width: 100%;
}

h1 {
    font-size: 48px;
}

.layouts-content {
    padding: 130px 100px;
    margin: 0 auto 0 0;
    background-color: #f4f4f6ff;
    width: 70%;
    
}

.layouts-image {
    width: 30%;
    margin: 0 0 0 auto;
    position: sticky;
    float: right;
    top: 150px;
}

.fonts-content {
    padding: 130px 100px;
    margin: 0 0 0 auto;
    background-color: #f4f4f6ff;
    width: 70%;
    text-align: right;
}

footer {
    background-color:#66666eff;
    color: #f4f4f6ff;
    display: flex;
    margin: 0 auto;
}

.footer-menu {
    margin: 30px 50px;
    flex-wrap: wrap;
    flex: 1 300px;
    text-align: justify;
}

/* COLORS
--black: #000000ff;
--dim-gray: #66666eff;
--manatee: #9999a1ff;
--platinum: #e6e6e9ff;
--cultured: #f4f4f6ff;
*/